version: "3.9"

services:
  valkey:
    image: valkey/valkey
    container_name: valkey
    ports:
      - "6379:6379"
    restart: unless-stopped


  qdrant:
    image: qdrant/qdrant
    ports:
      - 6333:6333